<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="myPort" value="3001" />
    <add key="serverRQA" value="RQA-My-Port.txt" />
    <add key="totalCheck" value="Result-Of-Marine-Box-Finding.txt" />   
    <add key="startingPage" value="C:\RQAWallemStartingPoint\FirefoxPortable\WallemShipStartPoint.html" />
  </appSettings>
</configuration>
